.DS_STORE
.eslintcache
*.swp
*~
/examples/*/node_modules/

/e2e/*/node_modules
!/e2e/presets/json/node_modules
!/e2e/presets/js/node_modules
/e2e/transform/*/coverage
/e2e/transform/*/node_modules

/node_modules

/packages/*/build/
/packages/*/node_modules/
/packages/*/package-lock.json

lerna-debug.log
npm-debug.log
npm-debug.log*
yarn-error.log*